*,*:after,*:before{
	box-sizing: border-box;
}
html, body{
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: sans-serif;
}
.name, .timer, .hp, .banans{
	position: absolute;
	font-size: 20px;
	left: 10px;
}
.name{
	top: 10px;
}
.timer{
	top: 40px;
}
.hp{
	top: 70px;
}
.banans{
	top: 100px;
}